# Server
PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:3000

# LLM APIs
GROQ_API_KEY=your_groq_api_key
GEMINI_API_KEY=your_gemini_api_key
OPENROUTER_API_KEY=your_openrouter_api_key

# Blockchain
DEPLOYER_PRIVATE_KEY=your_private_key

# Filecoin Calibnet
FILECOIN_RPC=https://api.calibration.node.glif.io/rpc/v1
IDENTITY_REGISTRY_ADDRESS=0xb3Df63Ac5Ec5648d2E764a7C579148F29858E99D
REPUTATION_REGISTRY_ADDRESS=0x558298297E714312D5670dBe4dbc15E1D240a811
VANTAGE_REGISTRY_ADDRESS=0x7Bbfb48BCEDF4B562fAB3cFdcb5974bf7cACd290

# Flow EVM Testnet
FLOW_RPC=https://testnet.evm.nodes.onflow.org
SAMPLE_TOKEN_ADDRESS=0xb3Df63Ac5Ec5648d2E764a7C579148F29858E99D
SAMPLE_NFT_ADDRESS=0x558298297E714312D5670dBe4dbc15E1D240a811
TIPPING_CONTRACT_ADDRESS=0x96A4978752D0fC8FccDe3c168A6a9E1c20B62330

# Lighthouse (Filecoin Storage)
LIGHTHOUSE_API_KEY=your_lighthouse_api_key
